<dl>
  <dt>
    <label for='category_url'> URL: </label>
  </dt>
  <dd>
    <input id='category_url' type='text' name='category[url]' value='<%= @category.url %>' autofocus>
  </dd>
  <dt>
    <label for='category_name'> Name: </label>
  </dt>
  <dd>
    <input id='category_name' type='text' name='category[name]' value='<%= @category.name %>'>
  </dd>
  <dt>
    <label for='category_genre'> Genre: </label>
  </dt>
  <dd>
    <input id='category_genre' type='text' name='category[genre]' value='<%= @category.genre %>'>
  </dd>
</dl>

<div class='clear_both'></div>
